<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Hasini Jayasekara</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <div class="about-section text-center">
                    <h1>Welcome to the About Page!</h1>
                    <p>Thank you for visiting! Here you can learn more about me.</p>
                </div>
                <br>
                <div class="pgstyle">
                    <h2>About Me</h2>
                    <p>
                        My name is Hasini Jayasekara, and I am a student in the BTT program. 
                        My student ID is 165513235. I have a keen interest in leveraging technology to solve business problems. 
                        My goal is to gain a deeper understanding of software development and data management, 
                        as well as to enhance my skills in IT consultancy.
                    </p>
                </div>
                <br>
                <footer class="footer">
                    <p>&copy; 2024 Hasini Jayasekara. All rights reserved.</p>
                </footer>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
