<!DOCTYPE html>
<html>
<head>
	
    <title>Home | Hasini Jayasekara</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A demo website showcasing HTML5 principles and Express routing.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<!-- Start your code here -->
				 <div class="container">
					<br>
					<img class="w3-image"  src="css/images/web2.jpg" alt="Me">
					<div class="content">
						<h1>Welcome to My Website!</h1>
					  <p>I will be demonstrating HTML5 principles and techniques, as well as Routing in Express.</p>
					</div>
				</div>
				<br>
				<div class="pgstyle col-md-12" >
					<h2>About This Website</h2>
					<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:</p>
					<ul id="list">
						<li><a href="/students">All Students</a></li>
						<li><a href="/students?course=3">Students by Course</a></li>
						<li><a href="/students/:1">A Single Student By Student Number</a></li>
						<li><a href="/tas">All Managers</a></li>
						<li><a href="/courses">All Courses</a></li>
					</ul>
					<br>

					 <div class="pgstyle">
					<h2>Introduction to HTML5</h2>
					<br>
						<p>This site utilizes HTML5:</p>
						<p> a markup language used for structuring and presenting content on the World Wide Web.HTML5 provides new elements and attributes, making it easier to create interactive and multimedia-rich applications.</p>
					<br>
					</div>
					
				<div class="footer">
					<footer>
						<p>&copy; 2024 Hasini Jayasekara. All rights reserved.</p>
					</footer>
				</div>


				<!-- End your code here  -->



			</main>
		</div>
	</div>

</body>
</html>
